

.about{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(149,149,149,1) 0%, rgba(69,69,69,1) 27%, rgba(0,0,0,1) 63%, rgba(32,33,43,1) 100%);
    color: white;
}



.containerA{
    
    width: 80%;
    margin: 0 auto;
   /*  background: black; */
    color: white;
   /* border: 3px solid black; */
}

img{
    max-width: 100%;

}



@media (min-width: 800px) {
  

    .containerA{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    .leftt{
        width: 68%;
    }

    .rightt{
        width: 30%
    };


}