.home{
    width: 100vw;
    height: 100vh;
}


.containerrr{
    width: 85%;
    margin: 0 auto;
    margin-top: 10%
}


.heading{
    color: white;
    text-align: center;
}

@media( max-width:320px){
   
    .heading > p{
    font-size: 3.7vw;
    }
}
